In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/census.csv')

In [4]:
df.columns = df.columns.str.strip()
df.sample(10)

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
7775,36,Self-emp-not-inc,280169,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,3456,0,8,United-States,<=50K
6030,55,Self-emp-not-inc,158315,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,>50K
7529,64,Private,256466,HS-grad,9,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,60,Philippines,>50K
8024,22,Private,112847,HS-grad,9,Never-married,Adm-clerical,Own-child,Asian-Pac-Islander,Male,0,0,40,United-States,<=50K
834,72,?,28929,11th,7,Widowed,?,Not-in-family,White,Female,0,0,24,United-States,<=50K
7860,30,Private,175856,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,38,United-States,<=50K
22416,48,Private,176810,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
4909,55,Local-gov,177163,Masters,14,Widowed,Prof-specialty,Unmarried,White,Female,914,0,50,United-States,<=50K
11920,44,State-gov,136546,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,40,United-States,>50K
25320,32,Private,419691,12th,8,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K

In [5]:
#Convert Data Types
df['age'] = df['age'].astype(int)
df['fnlgt'] = df['fnlgt'].astype(int)
df['education-num'] = df['education-num'].astype(int)
df['capital-gain'] = df['capital-gain'].astype(int)
df['capital-loss'] = df['capital-loss'].astype(int)
df['hours-per-week'] = df['hours-per-week'].astype(int)

In [10]:
#Standardize Text Data
string_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'salary']
for col in string_columns:
    df[col] = df[col].str.strip().str.lower().replace('?', 'undefined')

In [12]:
df.to_csv('data/census_clean.csv', index=False)